<!DOCTYPE html>
{% extends 'dbmsA/base.html' %}
{% block body_block %}
<style>
    .contains{
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }


</style>
<div class="container mt-5 contains">
<h1 class="alert alert-primary mt-2">Passenger Detail</h1>
        <p>Please fill in this form to enter passenger detail.</p>
        <hr>
    <div class="container mt-2">
    <form class="form-inline mb-2" method='POST'>{% csrf_token %}
        <div class="form-group">
            {{ form.as_p}}
            <input type="submit" class="btn btn-primary" value="Confirm Booking">
        </div>
    </form>
    <a href="{% url 'cancel' seatid %}" class="btn btn-danger">Cancel Booking</a>
    </div>
</div>
{% endblock %}