<!DOCTYPE html>
{% extends 'dbmsA/base.html' %}
{% block body_block %}

<style>
  .contains {
    padding: 16px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-left: 200px;

  }

  .row {
    margin: 0px 50px 50px 0px;
    height: 100%;
  }

  .side-block {
    background-color: #212529;
    width: 250px;
    height: 100vh;
    padding: 25px;
  }

  footer{
    margin: 0px;
  }

</style>

<div class="row">
  <div class="side-block">
    <div class="col-sm-3">
      <a href="#" class="btn btn-primary mt-2">OrderBy</a>
      <br>
      <a href="{% url 'orderby' s d d1 'rating' %}" class="btn btn-dark mt-2">Rating</a>
      <br>
      <a href="{% url 'orderby' s d d1 'cheap' %}" class="btn btn-dark mt-2">Cheap</a>
      <br>
      <a href="{% url 'orderby' s d d1 'expensive' %}" class="btn btn-dark mt-2">Expensive</a>
      <br>
      <a href="{% url 'orderby' s d d1 'ac' %}" class="btn btn-dark mt-2">AC</a>
      <br>
      <a href="{% url 'orderby' s d d1 'nonac' %}" class="btn btn-dark mt-2">NONAC</a>
      <br>
    </div>
  </div>


  <div class="col-sm-9">
    <div class="contains">
      <h2 class="alert alert-primary ">Available Buses <h5><b>{{s}} > {{d}} > {{d1}} </b></h5>
      </h2>
      <hr>
      <table class="table mr-5">
        <thead>
          <tr>
            <th>BusNo</th>
            <th>Company</th>
            <th>Departure</th>
            <th>Duration</th>
            <th>Type</th>
            <th>Rating</th>
            <th>Price</th>
            <th>Click To Views</th>
          </tr>
        </thead>
        <tbody>
          {% for i in j %}

          <tr>
            <td>{{i.busno}}</td>
            <td>{{i.company}}</td>
            <td>{{i.departuretime}}</td>
            <td>{{i.duration}}</td>
            <td>{{i.bustype}}</td>
            <td>{{i.rate|floatformat:1}}</td>
            <td>{{i.price}}</td>
            <td><a href="{% url 'seat' i.id %}" class="btn btn-primary">View Seats</a></td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  {% endblock %}